.button {
  background: none;
  padding: var(--spacing-xs) var(--spacing-s);
  font-size: var(--font-size-md);
  border: 2px solid black;
  border-radius: var(--border-radius-m);
}

.button:hover {
  cursor: pointer;
  background: rgb(180, 180, 180);
}
