.a {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-black);
  padding: var(--spacing-s) var(--spacing-md);
  border-radius: var(--border-radius-m);
}

/* mouse over link */
.a:hover {
  text-decoration: underline;
}
