.article {
  display: flex;
  padding: var(--spacing-md) var(--spacing-s);
  align-items: center;
  justify-content: space-between;

  border: solid 1px var(--color-gray-50);
  border-radius: var(--spacing-xs);
}
