.svg {
  margin-left: 15%;
  margin-bottom: 30px;
  align-self: flex-end;
  width: 60px;
  height: 60px;
}

.svg > path {
  mix-blend-mode: overlay;
  fill: white;
}

.svg > circle {
  mix-blend-mode: overlay;
  stroke: white;
}

@media screen and (max-width: 640px) {
  .svg {
    margin-left: 3%;
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
  .svg {
    margin-left: 8%;
    width: 40px;
    height: 40px;
  }
}
